<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }
    #editor {
        margin: 0;
        position: absolute;
        top: 12%;
        bottom: 10%;
        left: 0.3%;
        right: 40%;
    }
  </style>
</head>
<body>
<div class="w3-col m4" style="margin-top: 1.3%;margin-left: 0.3%;">
<select id="theme_s" style="width: 30%;border-radius:3px;height:30px;">
<option value="twilight">Twilight</option>
<option value="terminal">Terminal</option>
<option value="solarized_dark">Solarized Dark</option>
<option value="chrome">Chrome</option>
<option value="clouds">Clouds</option>
<option value="clouds_midnight">Clouds Midnight</option>
<option value="cobalt">Cobalt</option>
<option value="crimson_editor">Crimson Editor</option>
<option value="dawn">Dawn</option>
<option value="eclipse">Eclipse</option>
<option value="idle_fingers">Idle Fingers</option>
<option value="kr_theme">Kr Theme</option>
<option value="merbivore">Merbivore</option>
<option value="merbivore_soft">Merbivore Soft</option>
<option value="mono_industrial">Mono Industrial</option>
<option value="monokai">Monokai</option>
<option value="pastel_on_dark">Pastel On Dark</option>
<option value="textmate">TextMate</option>
<option value="tomorrow">Tomorrow</option>
<option value="vibrant_ink">Vibrant Ink</option>

</select>
<select id="lang_s" style="width: 30%;border-radius:3px;height:30px;">
  <option value="c_cpp">C</option>
  <option value="c_cpp">C++</option>
  <option value="java">Java</option>
  <option value="python">Python</option>
</select>
</div>
<div  style="margin-top: 2.5%;margin-left: 62%;height: 400px;">
 <p><strong>Enter Input</strong></p>
  <textarea id="txtar" rows="14" cols="51" style="resize: none;">
    
  </textarea>
  <br>
  <button class="w3-btn w3-blue w3-round" onclick="post()">Compile and Run</button>
  <button class="w3-btn w3-blue w3-round">Save Code</button>
  <button class="w3-btn w3-blue w3-round">Download Code</button>
</div>
<pre id="editor">
 //Start writing code from here.
</pre>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace_config.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
