<body>
  <div class="loadmask" id="loadmask">
    <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  </div>
  <nav class="nav-bar" id="myNavbar">
    <span class="nav-bar__app-icon">CodeDrop</span>
    <span class="nav-bar__nav-icons-cont">
      {{#if user}}
          <a href="/dashboard" class="nav-bar__nav-icon--clicked">New Code</a>
          <a href="/mycodes" class="nav-bar__nav-icon">My Codes</a>
          <a href="/logout" class="nav-bar__nav-icon" >Logout</a>
      {{/if}}
    </span>
</nav>
<div class="dashboard-cont">
  <div class="editor-cont">
    <div class="editor-preference">
      <div class="editor-preference__theme-select">
        <span class="editor-preference__label">Theme</span>
        <select id="theme_s" >
        <option value="solarized_dark">Solarized Dark</option>
        <option value="twilight">Twilight</option>
        <option value="terminal">Terminal</option>
        <option value="chrome">Chrome</option>
        <option value="clouds">Clouds</option>
        <option value="clouds_midnight">Clouds Midnight</option>
        <option value="cobalt">Cobalt</option>
        <option value="crimson_editor">Crimson Editor</option>
        <option value="dawn">Dawn</option>
        <option value="eclipse">Eclipse</option>
        <option value="idle_fingers">Idle Fingers</option>
        <option value="kr_theme">Kr Theme</option>
        <option value="merbivore">Merbivore</option>
        <option value="merbivore_soft">Merbivore Soft</option>
        <option value="mono_industrial">Mono Industrial</option>
        <option value="monokai">Monokai</option>
        <option value="pastel_on_dark">Pastel On Dark</option>
        <option value="textmate">TextMate</option>
        <option value="tomorrow">Tomorrow</option>
        <option value="vibrant_ink">Vibrant Ink</option>
        </select>
      </div>
      <div class="editor-preference__language-select">
        <span class="editor-preference__label">Language</span>
        <select id="lang_s">
          <option value="C">C</option>
          <option value="C++">C++</option>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
        </select>
      </div>
    </div>
    <pre id="editor">//Start writing code from here.</pre>
    <div class="editor-btn-cont">
      <button class="editor-btn" onclick="post()">Run</button>
    </div>
  </div>
  <div id="statusdiv">
    <div class="io-cont">
      <div class="io-header">Custom Input</div>
      <textarea id="txtar">
      </textarea>
    </div>
    <div class="io-cont">
      <div class="io-header">Output</div>
      <div class="output-cont">
        <pre id="output"></pre>
      </div>
    </div>
    <div class="grid-container-dashboard">
      <div class="grid-item-dashboard grid-header-dashboard">Verdict</div>
      <div class="grid-item-dashboard grid-header-dashboard">Time</div>
      <div class="grid-item-dashboard grid-header-dashboard">Memory</div>  
      <div class="grid-item-dashboard" id="ver">.</div>
      <div class="grid-item-dashboard" id="tim">.</div>
      <div class="grid-item-dashboard" id="mem">.</div>  
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace_config.js" type="text/javascript" charset="utf-8"></script>
</body>
